# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Browser automation temp files
agents/tmp/
agents/log/
downloads/
**/user_data_dir/
**/Local State
**/Preferences
**/Network Persistent State

_playwright_cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc
agents/__pycache__/
agents/browser_use_agent/__pycache__/
agents/skyvern_agent/__pycache__/
agents/browser_use_agent/__pycache__/main.cpython-312.pyc
agents/__pycache__/server.cpython-312.pyc
agents/skyvern_agent/__pycache__/main.cpython-312.pyc

# Python build artifacts
*.egg-info/
dist/
build/
*.egg

PRIVATE.md