CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=
SITE_URL=http://localhost:3000
OPENAI_API_KEY=
GROQ_API_KEY=
GOOGLE_API_KEY=
ANCHOR_API_KEY=
NOTTE_API_KEY=
SMOOTH_API_KEY=
BROWSERBASE_PROJECT_ID=
BROWSERBASE_API_KEY=
OPENROUTER_API_KEY=
AGENT_SERVER_API_KEY=
AGENT_SERVER_URL=